@import "tailwindcss";

body {
  background-color: #000000;
  color: white;
  font-family: 'Circular Std', system-ui, sans-serif; /* O la que prefieras */
}

/* Custom Scrollbar estilo Spotify */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}